* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "7fonts.ru_mk2";
  src: url("../fonts/7fonts.ru_mk2.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  margin: 0;
  background: black;
  color: #fff;
  font-family: "7fonts.ru_mk2"; }

#game {
  padding-top: 20px;
  font-size: 40px;
  width: 320px;
  margin: auto; }
  #game #start {
    width: 25%;
    height: 25%;
    color: whitesmoke;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    outline: none;
    background: none;
    margin: 0% 5% 5% 5%; }
  #game #pause {
    width: 25%;
    height: 25%;
    color: whitesmoke;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    outline: none;
    background: none;
    margin: 0% 5% 5% 5%; }

.main {
  width: 320px;
  height: 620px;
  margin: 10px auto 0;
  border: 10px solid silver;
  font-size: 0; }

#next-tetro {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 0; }

#game-over {
  font-size: 100px;
  color: #8a0303;
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4.5em;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: blur 0.75s ease-out infinite;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff; }

@-webkit-keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8; } }

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8; } }

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid silver;
  display: inline-block; }

.movingCell {
  background-color: purple; }

.fixedCell {
  background-color: #d6b5ce; }
